.input_submission{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.event__creator{
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.input_consent{
  display: flex;
  flex-direction: row;
}